@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:wght@400;600&display=swap');

:root {
  --heading-font: 'Luckiest Guy', cursive;
  --body-font: 'Open Sans', sans-serif;
  --base-font-size: 16px;
  --message-colour: #ffede1;
  --purple: rgb(165, 115, 221);
  --green: rgb(155, 247, 169);
  --peach: rgb(252, 224, 181);
  --blue: rgb(141, 177, 244);
}

html {
  font-family: var(--body-font);
  font-size: var(--base-font-size);
  scroll-snap-type: y mandatory;
  color: #1e2019;
}

h1,
h2,
h3,
h4,
h5 h6 {
  font-family: var(--heading-font);
}
